*{
  margin:0;
  padding:0;
  /* background-color: #F4D7C9; */

}

body{
   /* background-image:url('/public/back1.jpg'); */
  /* background-image:url('/public/back2.jpg'); */
  /* background-image:url('/public/back3.jpg'); */
  /* background-image:url('/public/back4.jpg'); */
  /* background-image:url('/public/back5.jpg'); */
  /* background-image:url('/public/back6.jpg'); */
  /* background-image:url('/public/back7.jpg'); */
  /* background-image:url('/public/back8.jpg'); */
  /* background-image:url('/public/back9.jpg'); */
  background-image:url('/public/back10.jpg');
  background-size:cover; 
  /* background-size:100%;   */
}
